.delete-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:1000;
}

.delete-modal{

background:#1E293B;

padding:30px;

border-radius:16px;

width:90%;
max-width:420px;

text-align:center;

color:white;

}

.delete-modal h2{

margin-bottom:15px;

}

.delete-modal p{

margin-bottom:25px;

color:#CBD5E1;

}

.delete-buttons{

display:flex;

gap:15px;

}

.delete-buttons button{

flex:1;

padding:12px;

border:none;

border-radius:10px;

cursor:pointer;

font-weight:600;

}

.cancel-btn{

background:#475569;

color:white;

}

.delete-btn{

background:#EF4444;

color:white;

}