/* Reset */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#0F172A;
  color:white;
  font-family:Inter,sans-serif;
  overflow-x:hidden;
}

/* Layout */

.layout{
  display:flex;
  min-height:100vh;
  width:100%;
}

/* Sidebar */

.sidebar{
  width:260px;
  min-width:260px;
  background:#111827;
}

/* Right Section */

.main-content{
  flex:1;
  display:flex;
  flex-direction:column;
  overflow:hidden;
}

/* Page Content */

.content{
  flex:1;
  padding:25px;
}

/* Tablet */

@media (max-width:992px){

  .sidebar{
    width:220px;
    min-width:220px;
  }

}

/* Mobile */

@media (max-width:768px){

  .layout{
    flex-direction:column;
  }

  .sidebar{
    width:100%;
    min-width:100%;
    min-height:auto;
  }

  .content{
    padding:15px;
  }

}