.footer{

margin-top:40px;

padding:25px;

display:flex;

justify-content:space-between;

align-items:center;

background:#111827;

border-radius:16px;

color:#CBD5E1;

flex-wrap:wrap;

gap:20px;

}

.footer h3{

color:white;

margin-bottom:8px;

}

.footer-right{

display:flex;

flex-direction:column;

text-align:right;

gap:5px;

}

@media(max-width:768px){

.footer{

flex-direction:column;

text-align:center;

}

.footer-right{

text-align:center;

}

}